<div class="container header-container">
  <header class="navigation">
    <nav>
      <div>
        <a href="#">Recipe book</a>
      </div>
    </nav>
    <ul class="navigation nav">
      <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
      <li><a href="#" (click)="onSelect('shopping-list')">Shopping list</a></li>
    </ul>
    <div class="dropdown">
      <span>Manage recipes</span>
      <div class="dropdown-content">
        <li><a href="#">Save data</a></li>
        <li><a href="#">Fetch data</a></li>
      </div>
    </div>
  </header>
</div>
