<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 mb-4">
    <h1>Recipe name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
<button class="btn btn-primary">Manage a recipe</button>
      <div class="dropdown-content">
        <ul class="manage-recipe">
          <li><a href="#">Add ingredients to the shopping list</a></li>
          <li><a href="#">Edit a recipe</a></li>
          <li><a href="#">Delete a recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Description
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Ingredients
    </div>
  </div>
</div>
